# Core
python-dotenv
requests

# Data Analysis
numpy<2
pandas
matplotlib
seaborn

# Machine Learning
scikit-learn
joblib

# NLP & AI
vaderSentiment
transformers
torch

# Web & Backend
flask
flask-limiter
flask-login
jinja2

# Visualization
plotly
chart.js

# Utilities
tqdm
